body {
    background-color: black;
}

table tr td {
    width: 24px;
    height: 24px;
    font-size: 6px;
    text-align: center;
    background-color: gray;
}

table tr td.header {
    background-color: #222;
    color: white;
}

table tr td.active {
    background-color: red;
}

table tr td.void {
    background-color: white;
}
